* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
}

header {
    background: white;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px; 
    height: auto; 
}
.Login {
    width: 30px;  /* dimensione desiderata */
    height: 30px; /* mantiene le proporzioni */
}

nav {
    padding: 1rem;
    margin-left: auto;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 2rem;
}

footer {
    background: white;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 1rem;
    color: black;
}
